<template>
  <div id="App">
    <h3>{{ethereumInfo}}</h3>
    <button @click="$ethereum.connect()">Test connect</button>
  </div>
</template>

<script>
export default {
  name: 'App',
  created() {
    console.log(this.$ethereum);
    console.log('chia');
  },
};
</script>
